apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
api:
 advertiseAddress: {{ inventory_hostname }}
 controlPlaneEndpoint: {{ inventory_hostname }}
etcd:
 endpoints:
{% for host in groups['masters']%} - https://{{ host }}:2379
{% endfor %}
 caFile: /etc/kubernetes/pki/etcd/ca.pem
 certFile: /etc/kubernetes/pki/etcd/client.pem
 keyFile: /etc/kubernetes/pki/etcd/client-key.pem
networking:
 podSubnet: 10.0.0.0/16
apiServerCertSANs:
- {{ inventory_hostname }}
apiServerExtraArgs:
 apiserver-count: "3"



 
