{
    "CN": "{{ inventory_hostname }}",
    "hosts": [
        "{{ inventory_hostname }}"
    ],
    "key": {
        "algo": "ecdsa",
        "size": 256
    },
    "names": [
        {
            "C": "CA",
            "L": "BC",
            "ST": "Vancouver"
        }
    ]
}