apiVersion: "kubeadm.k8s.io/v1alpha1"
kind: MasterConfiguration
etcd:
    serverCertSANs:
    - "{{ hostvars[inventory_hostname]['ansible_fqdn'] }}"
    peerCertSANs:
    - "{{ hostvars[inventory_hostname]['ansible_fqdn'] }}"
    extraArgs:
        initial-cluster: lab-env-1=https://lab-env-1:2380,lab-env-2=https://lab-env-2:2380,lab-env-3=https://lab-env-3:2380
        initial-cluster-state: new
        name: {{ hostvars[inventory_hostname]['ansible_fqdn'] }}
        listen-peer-urls: https://{{ hostvars[inventory_hostname]['ansible_fqdn'] }}:2380
        listen-client-urls: https://{{ hostvars[inventory_hostname]['ansible_fqdn'] }}:2379
        advertise-client-urls: https://{{ hostvars[inventory_hostname]['ansible_fqdn'] }}:2379
        initial-advertise-peer-urls: https://{{ hostvars[inventory_hostname]['ansible_fqdn'] }}:2380
